/* Home.css */
.home-container {
  background-color: #87CEEB;
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  align-items: center;
}
 
.home-content {
  text-align: left;
  color: white;
  padding-left: 20px;
  margin-bottom: 50px; /* Increase margin-bottom to move down the buttons */
}
 
.home-content h2 {
  font-size: 36px;
  margin-bottom: 20px;
}
 
.home-content p {
  font-size: 18px;
  margin-bottom: 30px;
}
 
.explore-button,
.login-button,
.signup-button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-right: 20px;
}
 
.explore-button:hover,
.login-button:hover,
.icon-button:hover,
.signup-button:hover {
  background-color: #2980b9;
}
 
.signup-prompt {
  font-size: 14px;
  color: black;
  margin-top: 10px;
}
 
.top-right-buttons {
  position: absolute;
  top: 20px;
  right: 20px;
}
 
.icon-button {
  background-color: transparent;
  color: black;
  font-size: 24px;
  border: none;
  cursor: pointer;
  margin-left: 10px;
  transition: color 0.3s ease;
}
 
.icon-button:hover {
  color: white;
}
 
.top-left-menu {
  position: absolute;
  top: 20px;
  left: 20px;
}
 
.top-left-menu .icon-button {
  background-color: transparent;
  color: black;
  font-size: 24px;
  border: none;
  cursor: pointer;
  transition: color 0.3s ease;
}
 
.top-left-menu .icon-button:hover {
  color: #2980b9;
}
 
.calendar-text {
  font-size: 18px;
  color: white;
  margin-left: 10px;
}
 
.middle-right-image {
  position: absolute;
  margin-top: 550px;
  right: 200px;
  transform: translateY(-50%);
}
 
.middle-right-image img {
  width: 400px; /* Adjust the width as needed */
  height: auto; /* Maintain the aspect ratio */
  display: block;
  margin: 0 auto;
}
 
.title1 {
  font-size: 70px;
  color: white;
  font-weight: 900;
  margin-left: 50px;
  letter-spacing: 7px;
}
 
.title2 {
  font-size:60px;
  color: white;
  font-weight: 900;
  margin-top: -100px;
  margin-left: 110px;
  letter-spacing: 7px;
}
 
.title3 {
  font-size: 70px;
  color: #783114;
  font-weight: 900;
  text-align: left;
  margin-left: 110px;
  margin-top: -30px;
  letter-spacing: 10px;
}
 
.title4 {
  font-size: 60px;
  color: #783114;
  font-weight: 900;
  margin-left: 110px;
  margin-top: -90px;
  letter-spacing: 10px;
  text-align: left;
}
 
.description1 {
  font-size: 18px;
  color: #313940;
  margin-top: -30px;
  margin-bottom: 10px;
  font-weight: bold;
}
 
.description2 {
  font-size: 18px;
  color: #313940;
  margin-bottom: 10px;
  font-weight: bold;
}
 
.description3 {
  font-size: 18px;
  color: #313940;
  font-weight: bold;
  margin-bottom: 10px;
}
 
.text-content {
  color: white;
  text-align: center;
}
 
/* Add any additional styling as needed */